# Ignore les dépendances
node_modules/

# Ignore les fichiers temporaires Angular
dist/
.angular/

# Ignore les fichiers d'environnement sensibles
src/environments/environment*.ts

# Ignore les logs et fichiers système
*.log
.DS_Store
